<div class="container">
  <div class="row">
    <div class="col-12">
      Noob Angular Ten
    </div>
    <app-create-server (svrAdded)="onServerAdded($event)"></app-create-server>
    <div class="col-12">
      <button type="button" class="btn btn-warning" (click)="changeFirstServer()">Change 1st server</button>
    </div>
    <div class="col-12" appHighlightedText>Servers List</div>
    <div class="col-12" *ngFor="let serverItem of servers">
      <app-server [serverName]="serverItem.name" [serverStatus]="serverItem.status">
      </app-server>
    </div>
    <div class="col-12"><app-warning-alert></app-warning-alert></div>
    <div class="col-12"><app-error-alert></app-error-alert></div>
  </div>
</div>
